.container{
  background-color: white;
  display: flex;
  row-gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 400px;
  height: 500px;
  border-radius: 10px;
}
img{
  width: 100px;
}
body{
  background-color: rgb(94, 58, 128);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.textbox{
  width: 70%;
  border: 3px solid rgb(55, 55, 53);
  padding: 4px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 20px;
}
input[type='text']{
  height: 30px;
}
input:focus{
color: blue;
}
input:focus +.fa-solid{
  color: blue;
}
input{
  width: 85%;
  height: 20px;
  outline: none;
  border: none;
}
.fa-solid{
  float: right;
  padding-left: 7px;
}
.temp,.city,.country{
  font-size: 20px;
  margin-bottom: 5px;
}
.location{
  
  display: flex;
  align-content:space-between;
  text-align: center;
  column-gap: 45px;
}
.lat,.lon{
  display: block;
}
.location div span:nth-child(2)
{
  font-size: 18px;
  color: blue;
}
.city{
  text-transform: uppercase;
  color: rgb(186, 186, 36);
}
.icon{
  width: 40px;
}
.datacenter{
  display: flex;
  column-gap: 45px;
}
.icons div span:nth-child(2)
{
  color: blue;
  display: block;
}
.error{
  color: red;
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
}